Opportunity_Auto_Clone_Opp_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_New_Opp_Team_Members</name>
        <label>Assign New Opp Team Members</label>
        <locationX>339</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>Opp_Team_Members.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opp_Team_Members.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_NewOppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewOppTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opp_Team_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opp_Team_Members_Found</name>
        <label>Opp Team Members Found?</label>
        <locationX>608</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Team_Members_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Team_Members</targetReference>
            </connector>
            <label>Yes - Team Members Found</label>
        </rules>
    </decisions>
    <description>Subflow used to clone Opportunity Team Members from one Opportunity to another.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Auto - Clone Opp Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Auto - Clone Opp Team Members</label>
    <loops>
        <name>Opp_Team_Members</name>
        <label>Opp Team Members</label>
        <locationX>500</locationX>
        <locationY>479</locationY>
        <collectionReference>Get_Opp_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Opp_Team_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Team_Members</name>
        <label>Create Opp Team Members</label>
        <locationX>626</locationX>
        <locationY>477</locationY>
        <inputReference>varR_NewOppTeamMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Team_Members</name>
        <label>Get Opp Team Members</label>
        <locationX>616</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Team_Members_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_OldOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opp_Team_Members</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_NewOppTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varT_NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OldOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
