Opportunity_Screen_Create_New_Bid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assigns the values for the newBid record variable</description>
        <name>Assign_newBid</name>
        <label>Assign newBid</label>
        <locationX>459</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>newBid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBid.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcBidName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBid.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bidRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBid.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BiddingAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBid.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bid List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBid.Related_Project_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBid.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBid.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Bid</targetReference>
        </connector>
    </assignments>
    <description>Used to create a new Bid Opportunity. Launched from a custom button on the Opportunity record page.</description>
    <environments>Default</environments>
    <formulas>
        <description>Outputs a name for the new Bid record</description>
        <name>calcBidName</name>
        <dataType>String</dataType>
        <expression>{!recordId.Name} + &apos; - &apos; + {!BiddingAccount.recordName} + &apos; - Bid&apos;</expression>
    </formulas>
    <interviewLabel>Opportunity - Screen - Create New Bid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Screen - Create New Bid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Bid</name>
        <label>Create new Bid</label>
        <locationX>458</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>Clone_Opp_Products_from_Parent</targetReference>
        </connector>
        <inputReference>newBid</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the Record Type Id for the Bid Opportunity record type</description>
        <name>Get_Bid_Record_Type_Id</name>
        <label>Get Bid Record Type Id</label>
        <locationX>456</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_newBid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bid</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>bidRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>S01_Select_Bidding_Account</name>
        <label>S01-Select Bidding Account</label>
        <locationX>456</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Bid_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>BiddingAccountInstructions</name>
            <fieldText>&lt;p&gt;Select a Bidding Account to create a Bid for:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BiddingAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bidding Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>S01_Select_Bidding_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clone_Opp_Products_from_Parent</name>
        <label>Clone Opp Products from Parent</label>
        <locationX>457</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>Clone_Opp_Team_Members_from_Parent</targetReference>
        </connector>
        <flowName>Opportunity_Auto_Clone_Opp_Products</flowName>
        <inputAssignments>
            <name>varT_NewOppId</name>
            <value>
                <elementReference>newBid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_OldOppId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Clone_Opp_Team_Members_from_Parent</name>
        <label>Clone Opp Team Members from Parent</label>
        <locationX>453</locationX>
        <locationY>881</locationY>
        <flowName>Opportunity_Auto_Clone_Opp_Team_Members</flowName>
        <inputAssignments>
            <name>varT_NewOppId</name>
            <value>
                <elementReference>newBid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_OldOppId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Variable to store the Bid record type Id</description>
        <name>bidRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record variable to store values for the new Bid</description>
        <name>newBid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Record variable to store the Opportunity that the flow is launched from</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
