Opportunity_Team_Member_Auto_Create_Opp_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_New_Opp_Team_Members</name>
        <label>Assign New Opp Team Members</label>
        <locationX>378</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>varR_OppTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OppTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OppTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OppTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OppTeamMember.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Users.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OppTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OppTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Ids_exist</name>
        <label>Check if Ids Exist</label>
        <locationX>518</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Ids_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_TeamMemberIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varT_OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users</targetReference>
            </connector>
            <label>Yes - Ids Exist</label>
        </rules>
    </decisions>
    <description>Autolaunched flow that creates Opportunity Team Members when provided with a collection of UserIds and an OpportunityId</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_TeamMemberRole</name>
        <dataType>String</dataType>
        <expression>CASE({!Users.Title},
 &quot;Regional Sales Manager&quot;, &quot;Regional Sales Manager&quot;, 
&quot;Inside Sales/Customer Service&quot;, &quot;Customer Service&quot;,
&quot;Business Development Manager&quot;, &quot;Business Development&quot;,
&quot;Customer Service&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity Team Member - Auto - Create Opp Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Team Member - Auto - Create Opp Team Members</label>
    <loops>
        <name>Users</name>
        <label>Users</label>
        <locationX>530</locationX>
        <locationY>466</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Opp_Team_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Team_Members</name>
        <label>Create Opp Team Members</label>
        <locationX>531</locationX>
        <locationY>598</locationY>
        <inputReference>varR_OppTeamMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>529</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varT_TeamMemberIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Ids_exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_OppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varR_OppTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varT_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_TeamMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
