Opportunity_Auto_Clone_Opp_Products/Opportunity_Auto_Clone_Opp_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_NewOpp_ID_to_Opp_Products</name>
        <label>Assign NewOpp ID to Opp Products</label>
        <locationX>495</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>L1_Opp_Products.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_NewOppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L1_Opp_Products.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewOppProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L1_Opp_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L1_Opp_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opp_Products_Found</name>
        <label>Opp Products Found?</label>
        <locationX>665</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L1_Opp_Products</targetReference>
            </connector>
            <label>Yes - Opp Products Found</label>
        </rules>
    </decisions>
    <description>Clones the Opportunity Products from one Opportunity and creates them as Opportunity Products for another</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Auto - Clone Opp Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Auto - Clone Opp Products</label>
    <loops>
        <name>L1_Opp_Products</name>
        <label>L1 - Opp Products</label>
        <locationX>677</locationX>
        <locationY>479</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_NewOpp_ID_to_Opp_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Opp_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Opp_Products</name>
        <label>Create New Opp Products</label>
        <locationX>677</locationX>
        <locationY>630</locationY>
        <inputReference>varR_NewOppProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>672</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_OldOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>546</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_NewOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varT_NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OldOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
