Add Assets to Opportunity Screen Flow/force-app/main/default/flows/Add_Asset_to_Opportunity_from_Criteria_Based_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>If there is a match, we will mark this as TRUE. This is used to make sure we do NOT capture errors for records with matches</description>
        <name>Has_Match</name>
        <label>Has Match</label>
        <locationX>941</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>hasMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pricebook_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>List of OLI that need to be created</description>
        <name>New_OLI_List</name>
        <label>New OLI List</label>
        <locationX>941</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets the hasMatch variable for the next iteration</description>
        <name>ResetMatch</name>
        <label>ResetMatch</label>
        <locationX>985</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>hasMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_VSF_to_Make_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to OLI fields. Additional fields can be added as needed. These then need to be added to a list before they can be created.</description>
        <name>Set_OLI_Fields</name>
        <label>Set OLI Fields</label>
        <locationX>941</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_VSF_to_Make_OLI.ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_VSF_to_Make_OLI.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_OLI_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store ProductIds in a collection. To be used later to find Pricebook Entries.</description>
        <name>Store_Product_Ids</name>
        <label>Store Product Ids</label>
        <locationX>501</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_IDs.ProductId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the Opportunity and Pricebook Id. This will help make steps later in the flow reusable. Assumes that all existing Opportunities have Pricebook2Id values populated. If that is not true, then the Pricebook will need to be assigned a different way.</description>
        <name>Store_RecordIds</name>
        <label>Store RecordIds</label>
        <locationX>281</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the name of the record that does not have an active Pricebook Entry</description>
        <name>Store_VSF_w_o_PBE</name>
        <label>Store VSF w/o PBE</label>
        <locationX>721</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>ErrorPBEs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_VSF_to_Make_OLI.Product.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_VSF_to_Make_OLI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddtoOpportunity</name>
        <choiceText>Add to Existing Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNewOpportunity</name>
        <choiceText>Create New Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retail</name>
        <choiceText>Retail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wholesale</name>
        <choiceText>Wholesale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wholesale</stringValue>
        </value>
    </choices>
    <decisions>
        <description>If there is NOT a pricebook entry then we need to capture an error</description>
        <name>Active_Pricebook_Entry</name>
        <label>Active Pricebook Entry?</label>
        <locationX>853</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>ResetMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Capture_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_VSF_w_o_PBE</targetReference>
            </connector>
            <label>Capture Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Opportunity was newly created or already existed to show the correct success screen.</description>
        <name>Check_if_Opportunity_was_Created_or_Existing</name>
        <label>Check if Opportunity was Created or Existing</label>
        <locationX>446</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Success_Added_to_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddtoOpportunity</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Created</targetReference>
            </connector>
            <label>Opportunity Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if there are any records in ErrorPBEs</description>
        <name>Error_Decision</name>
        <label>Error Decision</label>
        <locationX>413</locationX>
        <locationY>2474</locationY>
        <defaultConnector>
            <targetReference>New_OLI_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Were_there_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorPBEs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Error</targetReference>
            </connector>
            <label>Were there Errors?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the Product on the VSF record has an active pricebook entry within the pricebook.</description>
        <name>Match_Pricebook_Entry</name>
        <label>Match Pricebook Entry</label>
        <locationX>1073</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Loop_Pricebook_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PBE</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_VSF_to_Make_OLI.ProductId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Pricebook_Entry.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OLI_Fields</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Are there OLI to Create?</description>
        <name>New_OLI_to_Create</name>
        <label>New OLI to Create</label>
        <locationX>776</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Assets_Not_Added_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewOpportunityLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Line_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based on user selection, we will either create a new Opportunity, or add the products to an existing Opportunity</description>
        <name>Next_Steps</name>
        <label>Next Steps</label>
        <locationX>413</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create new Opportunity</defaultConnectorLabel>
        <rules>
            <name>Add_OLI_to_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddtoOpportunity</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Opportunity</targetReference>
            </connector>
            <label>Add OLI to Opp</label>
        </rules>
    </decisions>
    <description>Screen flow launched from Criteria-Based Search and Filter action. Allows a user to add selected Vehicle Searchable Field records to an existing or newly created Opportunity as Opportunity Products.</description>
    <environments>Default</environments>
    <formulas>
        <description>Outputs Price Book Name to get the correct price book for the Opportunity. Default value is &quot;Standard Price Book&quot;. Update the formula to output different values based on the business need.</description>
        <name>formPriceBookName</name>
        <dataType>String</dataType>
        <expression>&quot;Standard Price Book&quot;</expression>
    </formulas>
    <formulas>
        <name>OpportunityLink</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!OpportunityId}</expression>
    </formulas>
    <interviewLabel>Add Asset to Opportunity from Criteria-Based Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Asset to Opportunity from Criteria-Based Search</label>
    <loops>
        <description>Get Product IDs from the VSF records.</description>
        <name>Get_Product_IDs</name>
        <label>Get Product IDs</label>
        <locationX>413</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Vehicle_Searchable_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Next_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Pricebook Entries to make sure that the product listed</description>
        <name>Loop_Pricebook_Entry</name>
        <label>Loop Pricebook Entry</label>
        <locationX>853</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Pricebook_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Pricebook_Entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the Vehicle Searchable Field records and create OLI.</description>
        <name>Loop_VSF_to_Make_OLI</name>
        <label>Loop VSF to Make OLI</label>
        <locationX>413</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Vehicle_Searchable_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Error_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Opportunity for the selected Account. Replace placeholder values with actual values for CloseDate, StageName, Name, etc.</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>545</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Pricebook_Entries</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SelectedAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Placeholder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Pricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Creates OLIs from the selected VSF records</description>
        <name>Create_Opportunity_Line_Items</name>
        <label>Create Opportunity Line Items</label>
        <locationX>446</locationX>
        <locationY>2690</locationY>
        <connector>
            <targetReference>Check_if_Opportunity_was_Created_or_Existing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opp_Prod_Error</targetReference>
        </faultConnector>
        <inputReference>NewOpportunityLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets selected Account</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>545</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAccount.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Pricebook based on selection of Deal Type (Retail vs Wholesale)</description>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>545</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formPriceBookName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>Pricebook</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Pricebook Entries for each product</description>
        <name>Get_Pricebook_Entries</name>
        <label>Get Pricebook Entries</label>
        <locationX>413</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_VSF_to_Make_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pricebook</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Opportunity that the user selected.</description>
        <name>Get_Selected_Opportunity</name>
        <label>Get Selected Opportunity</label>
        <locationX>281</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_RecordIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedOppty.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all selected VSR records.</description>
        <name>Get_Vehicle_Searchable_Records</name>
        <label>Get Vehicle Searchable Records</label>
        <locationX>413</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedSearchResultRecordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VehicleSearchableField</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back</name>
        <label>Roll Back</label>
        <locationX>50</locationX>
        <locationY>2690</locationY>
    </recordRollbacks>
    <screens>
        <description>Displays an error screen when no OLIs are added to an Opportunity</description>
        <name>Assets_Not_Added_Error</name>
        <label>Assets Not Added Error</label>
        <locationX>1106</locationX>
        <locationY>2690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessTxt</name>
            <fieldText>&lt;p&gt;There was an error during this action. Please contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error when there is a fault adding OLIs to the Opportunity</description>
        <name>Opp_Prod_Error</name>
        <label>Opp Prod Error</label>
        <locationX>842</locationX>
        <locationY>2798</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_SuccessTxt</name>
            <fieldText>&lt;p&gt;There was an error adding Assets to the Opportunity. Please contact your administrator for help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the user when PBEs are not found for the selected products</description>
        <name>Screen_Error</name>
        <label>Screen_Error</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roll_Back</targetReference>
        </connector>
        <fields>
            <name>TxtError</name>
            <fieldText>&lt;p&gt;The following products are not active in the selected Pricebook. Please select a different product, or contact your Inventory manager.&lt;/p&gt;&lt;p&gt;{!ErrorPBEs}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Display VSR records. User then needs to determine next Steps</description>
        <name>Select_Next_Steps</name>
        <label>Select Next Steps</label>
        <locationX>413</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Next_Steps</targetReference>
        </connector>
        <fields>
            <name>Records</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>VehicleSearchableField</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Vehicle_Searchable_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ModelYear&quot;,&quot;guid&quot;:&quot;column-5782&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Model Year&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-8cc0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Serial_Number__c&quot;,&quot;guid&quot;:&quot;column-020e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Serial Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Description__c&quot;,&quot;guid&quot;:&quot;column-4eba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Product Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;InventoryLocationName&quot;,&quot;guid&quot;:&quot;column-6bcb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Inventory Location Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayTxt1</name>
            <fieldText>&lt;p&gt;What would you like to do with the above Inventory?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Step</name>
            <choiceReferences>CreateNewOpportunity</choiceReferences>
            <choiceReferences>AddtoOpportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Next_Steps_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Next_Steps_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateNewOpportunity</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Next_Steps_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Next_Steps_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedOppty</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OpportunityId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>OpportunityLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AddtoOpportunity</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows a success screen when an Opp was existing.</description>
        <name>Success_Added_to_Opp</name>
        <label>Success - Added to Opp</label>
        <locationX>578</locationX>
        <locationY>2906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_SuccessTxt</name>
            <fieldText>&lt;p&gt;Assets were added to the selected Opportunity (SUCCESS!!!)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!OpportunityLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;LINK&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows a success screen when an Opportunity is created.</description>
        <name>Success_Created</name>
        <label>Success - Created</label>
        <locationX>314</locationX>
        <locationY>2906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessTxt</name>
            <fieldText>&lt;p&gt;An Opportunity was Created (SUCCESS!!!)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!OpportunityLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;LINK&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle_Searchable_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>name of the asset from the VSF that does not have an active Pricebook Entry</description>
        <name>ErrorPBEs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>List of New Opportunity Line Items to create</description>
        <name>NewOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to house OLI field information.</description>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Pricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSearchResultRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of all Vehicle Searchable Field records that were selected in the search.</description>
        <name>Table_VSFrecord_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VehicleSearchableField</objectType>
    </variables>
</Flow>
